/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Buenard');

body {
    background-color: white;
    font-family: 'Buenard', serif;
    font-size: 18px;
    margin: 0;
    color: #444;
}
header{
    width: 100%;
    height: 201.2px;
    background-image: url("../images/malaga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -220px;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
}

h2 {
    font-family: 'Kalam', cursive;
    font-size: 1.7em;
}


nav{
 border-radius:0px;
 margin-top: -26.6px;
}
/* Carrusel */
#myCarousel{
    margin: 10px -2.6px;
    height: 350px;
    overflow: hidden;
    background-color: transparent;
}
.carousel-control:last-of-type {
    margin-right: 13.7px;
}

.carousel-control:first-of-type {
    margin-left: 14px;
}
/*Fotos del index*/
#nav_fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#nav_fotos a{
    text-decoration: none;
    color: white;
}

#nav_fotos p{
    width: 240px;
    margin:0 20px;
}

#nav_fotos article{
    width: 280px;
    padding: 5px;
    border: 2px solid transparent;
    background-color: rgba(0,0,0, 0.5);
}

#nav_fotos article img{
   height: 200px;
    width: 100%;

}


/*Footer bueno*/
footer {
    background-color: rgba(4, 62, 93, 0.55);
    margin-top: 40px;
    border: 2px solid grey;
    color:white;
    grid-area: footer;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color:white;
}
footer p {
    display: inline;
    font-family: 'Buenard', serif;
}
footer a:hover{
    text-decoration: none;
    color: white;
}

footer i{
    padding: 5px;
}

.footer-copyright{
    background-color: lightblue;
    width:100%;
    color:grey;
}

/*Fichas*/
.items1 {
    background-image: url(../images/Cartademenu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Buenard', serif;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid black;
}
.items1 img{
    width:50px;
}

.items1 a:link {
    color: red;
}

.img1{
    width:200px;
}
.fotos{
    display:flex;
    margin-top: 50px;
}

.fotos div{
    align-items: flex-end;
    display:flex;
}

.fotos div img´{
    align-items: flex-end;
}
.fotos img{
        width: 250px;
}